.gallery {
  width: 100%;
  @extend %clearfix;
  padding: 0 $padding-single;
}

.card {
  height: 400px;
  @extend %clearfix;
}

.card-img {
  height: 60%;
  img {
    border-radius: $border-radius $border-radius 0 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.card-body {
  height: 40%;
  background: $bg-card;
  border-radius: 0 0 $border-radius $border-radius;
  p {
    padding: 17px;
  }
}

// @media screen and (min-width:1024px) {
//   .card-img {
//     height: 100%;
//     img {
//       border-radius: $border-radius 0 0 $border-radius;
//       object-fit: cover;
//       height: 100%;
//       width: 60%;
//       }
//     }
//     .card{
//
//     }
//     .card-body {
//       position: relative;
//       top: -360px;
//       text-align: right;
//       width: 30%;
//       right: -319px;
//       padding-top: 60px;
//     }
//   }
