*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  
  @include border-box;
}

.wrapper,
.row {
  @extend %clearfix;
}

[class^='col-'] {
  float: left;
  padding: $padding-single;
  width: 100%;
  min-height: 1px;
}

@each $size, $value in $grid-sizes {
  @media #{$value} {
    @for $i from 1 through $grid-columns {
      .col-#{$size}-#{$i} {
        width: calc(100% / #{$grid-columns} * #{$i});
      }
      .offset-#{$size}-#{$i} {
        margin-left: calc(100% / #{$grid-columns} * #{$i});
      }
    }
  }
}
