.header{
  height:70px;
  width: 100%;
  position: fixed;
  padding: 0 $padding-double;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  // color
  background: white; //change this!
  // .title {
  //   // height:
  //   // color:
  //   // display: flex;
  //   // align-items: center;
  // }
  // .menu {
  //   min-height: 100%;
  //
  //   ul {
  //     min-heght: 100%;
  //
  //     li {
  //       list-style: none;
  //       display: inline;
  //     }
  //   }
  // }
}
//something wierd happened to the menu, got to fix that shit//
