.header {
  height:70px;
  width: 100%;
  position: fixed;
  padding: 0 $padding-double;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  // color
  background: $bg-header; //change this!
  .menu {

    ul {
      list-style: none;
      li {
        display: inline;
        text-align: right;
        margin-left: 20px;
      }
    }
  }
}


//something wierd happened to the menu, got to fix that shit//
